SUPABASE_URL=https://tikiomiemawbgijhegnw.supabase.co
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRpa2lvbWllbWF3YmdpamhlZ253Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU3ODQyMSwiZXhwIjoyMTA1MTU0NDIxfQ.Vf3XJpwatjmbUYlLtZ_NRGwODtJmkBZ5WlyCEHNwPlM

ENVIRONMENT=development
GEMINI_API_KEY=AIzaSyDsN7sGL0aXICDCbwejO0AnbdrLgyWK4Rw